body{
    margin: 0;
    padding: 0;
    height: 100%;
    padding-top: 60px; 
    overflow-x: hidden;
    background-image: url('images/color-fondo.png');

}

.righteous-regular, body {
    font-family: "Righteous", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #5168c4;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    top: 0;
    z-index: 1000; 
    box-sizing: border-box;
    background-color: #faf4dc;
    position: fixed;
    overflow-x: hidden;
    border-radius: 2px;
}

.logo img {
    height: auto;
    box-shadow: none;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding-left: 5px;
   
}


nav ul li {
    margin-left: 10px; 
}

nav ul li a {
    text-decoration: none;
    font-size: 10px;
}

section {
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
    box-shadow: 12px 11px 49px 11px rgba(0,0,0,0.42);
    -webkit-box-shadow: 12px 11px 49px 11px rgba(0,0,0,0.42);
    -moz-box-shadow: 12px 11px 49px 11px rgba(0,0,0,0.42);
}


#inicio {
    text-align: center; 
    padding: 20px; 
    margin: 0 auto; 
}

#inicio img {
    margin-top: 30px;
}

.icon-conteiner {
    font-size: 65px;
    justify-content: space-between;
}

.proyectos-galeria{
    justify-content: space-around;
}

.proyecto-item img{
    border-radius: 20px;
    flex: 1;
    transition: transform 0.3s ease;
}

.proyecto-item img:hover{
     transform: scale(1.1);
}

#contacto{
    padding: 20px;
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.formulario label {
    font-size: 1rem;
    margin-bottom: 5px;
}

.formulario input,
.formulario textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;   
}

button[type="submit"] {
    margin-top: 5px;
    padding: 12px;
    font-size: 1rem;
    color: #fff;
    background-color: #02162b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}